@media print {
	.simplis_dvm_report_content_summary_spacer_break, .simplis_worstcase_report_content_summary_spacer_break {
		page-break-after: always;
		border-top: 0px;
	}
	.simplis_dvm_report_content_summary_spacer, .simplis_dvm_report_header_return_to_overview /*, .simplis_worstcase_report_content_summary_spacer */ {
		display: none;
	}
	.simplis_dvm_report, .simplis_worstcase_report {
		border-left: 0px;
		border-right: 0px;
	}
}
@media screen {
	.simplis_dvm_report_content_summary_spacer_break, .simplis_worstcase_report_content_summary_spacer_break {
		display: none;
	}
	.simplis_dvm_report_content_summary_spacer {
		border-top: 2px solid #cccccc;
	}
	.simplis_worstcase_report_content_summary_spacer {
		border-top: 3px solid #aaaaaa;
	}
	.simplis_dvm_report, .simplis_worstcase_report {
		border-left: 1px solid #787878;
		border-right: 1px solid #787878;
	}
}
@media screen, print {

	a:link, a:visited, a:active, a:hover,
	a.simplis_dvm_report_header_return_to_overview:link,
	a.simplis_dvm_report_header_return_to_overview:visited,
	a.simplis_dvm_report_header_return_to_overview:active,
	a.simplis_dvm_report_header_return_to_overview:hover {
		text-decoration: none;
		border-bottom: 1px dotted;
	}
	a.simplis_dvm_report_header_return_to_overview:link,
	a.simplis_dvm_report_header_return_to_overview:visited,
	a.simplis_dvm_report_header_return_to_overview:active,
	a.simplis_dvm_report_header_return_to_overview:hover {
		float: right;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px;
	}
	body {
		background-color: #cee3f8;
		text-align: center; /* for IE */
		margin: 0px;
		padding: 0px;
	}
	img {
		border: 0px;
	}
	.simplis_dvm_report, .simplis_worstcase_report {
		background-color: #ffffff;
		margin: 0px auto; /* for the rest */
		padding: 10px;
	}
	.simplis_dvm_report {
		width: 900px;
	}
	.simplis_worstcase_report {
		width: 825px;
	}
	.simplis_dvm_report_header, .simplis_worstcase_report_header {
		background-color: #ffffff;
		margin: 0px;
		padding: 0px;
		text-align: left;
	}
	.simplis_dvm_report_header_blurb, .simplis_worstcase_report_header_blurb {
		margin: 0px 0px 30px 0px;
		padding-left: 15px;
		color: #787878;
		font-family: 'Arial Rounded MT Bold', Arial, Verdana, Helvetica, sans-serif;
		font-style: italic;
		font-size: 15px;
		text-transform: uppercase;
	}
	.simplis_dvm_report_content, .simplis_worstcase_report_content {
		margin: 0px;
		padding: 0px;
		background-color: #ffffff;
		width: 100%;
	}
	.simplis_dvm_report_separator, .simplis_dvm_report_content_summary_separator, .simplis_worstcase_report_separator, .simplis_worstcase_report_content_summary_separator {
		background-color: #e8e8e8;
	}
	.simplis_dvm_report_separator, .simplis_worstcase_report_separator {
		margin-bottom: 5px;
		height: 13px;
	}
	.simplis_dvm_report_content_summary_separator, .simplis_worstcase_report_content_summary_separator {
		width: 100%;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px;
		text-transform: uppercase;
		text-align: left;
	}
	.simplis_dvm_report_content_summary_table, .simplis_worstcase_report_content_summary_table {
		margin: 0px 0px 25px 0px;
		width: 100%;
		border-bottom: 2px solid #cccccc;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px;
		text-align: left;
		border-collapse: collapse;
	}
	.simplis_worstcase_report_content_summary_table {
		border-bottom: 0px;
	}
	.simplis_dvm_report_content_summary_tab {
		font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
		font-size: 12px;
		text-transform: uppercase;
		background-color: #f5f5f5;
		color: #787878;
		border-left: 1px solid #cccccc;
		border-top: 1px solid #cccccc;
		border-right: 1px solid #787878;
		border-bottom: 1px solid #787878;
		border-collapse: collapse;
	}
	.simplis_dvm_report_content_summary_tab_empty {
		border-bottom: 1px solid #787878;
		border-collapse: collapse;
	}
	.simplis_dvm_report_content_summary_header {
		padding: 3px;
		border-bottom: 1px solid #cccccc;
		border-left: 1px solid #cccccc;
		border-right: 1px solid #787878;
		border-collapse: collapse;
	}
	.simplis_worstcase_report_content_summary_header, .simplis_worstcase_report_content_summary_cell {
		padding: 3px;
		border: 1px solid #cccccc;
		vertical-align: top;
	}
	.simplis_worstcase_report_content_summary_vertical_division {
		border-left: 4px double #cccccc;
	}
	.simplis_worstcase_report_content_summary_header {
		font-weight: bold;
	}
	.simplis_dvm_report_content_summary_cell {
		padding: 3px;
		border-left: 1px solid #787878;
		border-right: 1px solid #cccccc;
		border-bottom: 1px solid #cccccc;
		border-collapse: collapse;
	}
	.simplis_worstcase_report_content_summary_cell {
		text-align: right;
	}
	.simplis_dvm_report_content_summary_cell_inline_table_header, .simplis_dvm_report_content_summary_cell_inline_table_cell,
	.simplis_dvm_report_content_summary_cell_inline_array_table_header, .simplis_dvm_report_content_summary_cell_inline_array_table_cell {
		width: 10%;
		margin: 0px;
		border-right: 2px solid #dddddd;
		border-collapse: collapse;
		float: left;
		padding-left: 3px;
	}
	.simplis_dvm_report_content_summary_cell_inline_table_header,
	.simplis_dvm_report_content_summary_cell_inline_array_table_header {
		width: 7%;
		margin-left: 4px;
		color: #787878;
		font-style: italic;
	}
	.simplis_dvm_report_content_summary_cell > div.simplis_dvm_report_content_summary_cell_inline_table_cell:last-child,
	.simplis_dvm_report_content_summary_cell > div.simplis_dvm_report_content_summary_cell_inline_array_table_cell:last-child {
		border-right: 0px;
	}
	.mclog_header_NOM,    .mclog_cell_NOM,
	.mclog_header_MEAN,   .mclog_cell_MEAN,
	.mclog_header_STDDEV, .mclog_cell_STDDEV,
	.mclog_header_MIN,    .mclog_cell_MIN,
	.mclog_header_MAX,    .mclog_cell_MAX {
		width: 11%;
		font-size: 11px;
		margin: 0px;
		border-right: 2px solid #dddddd;
		border-collapse: collapse;
		float: left;
		padding-left: 3px;
	}
	.mclog_header_NOM,
	.mclog_header_MIN,
	.mclog_header_MAX,
	.mclog_header_MEAN,
	.mclog_header_STDDEV {
		color: #787878;
		font-style: italic;
	}
	.mclog_header_NOM,
	.mclog_header_MIN,
	.mclog_header_MAX {
		width: 4.5%;
	}	
	.mclog_header_MEAN {
		width: 6%;
	}
	.mclog_header_STDDEV {
		width: 8%;
	}
	.mclog_cell_NOM,
	.mclog_cell_MEAN,
	.mclog_cell_STDDEV,
	.mclog_cell_MIN,
	.mclog_cell_MAX {
		font-size: 9px;
	}	
	.mclog_cell_MAX {
		border-right: 0px;
	}
	.mclog_cell_MIN,
	.mclog_cell_MAX {
		width: 14%;
	}	
	.mclog_empty_inline {
		border: 0px;
		margin-right: 2px;
	}
	.simplis_dvm_report_content_summary_spacer,
	.simplis_dvm_report_content_summary_spacer_break,
	.simplis_worstcase_report_content_summary_spacer,
	.simplis_worstcase_report_content_summary_spacer_break {
		height: 25px;
	}
	.simplis_dvm_report_content_graph {
		/*
		border-left: 1px solid #cccccc;
		border-right: 1px solid #cccccc;
		border-bottom: 1px solid #cccccc;
		*/
		position: relative;
		top: 0;
		left: 0;
		border: 1px solid #cccccc;
		border-collapse: collapse;
		padding: 10px;
	}
	.simplis_dvm_report_content_graph_div {
		position: relative;
		top: 0;
		left: 0;
	}
	.simplis_dvm_report_content_graph_legend {
		float: left;
		position: absolute;
		top: 10;
		left: 10;
		background-color: #f5f5f5;
		border: 1px dotted #cccccc;
		padding: 3px;
		width: 28%;
	}
	.simplis_dvm_report_content_graph_legend_title {
		font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
		font-size: 12px;
		text-transform: uppercase;
		color: black;
		text-align: center;
		padding: 3px;
		border-bottom: 1px dotted #787878;
		white-space: nowrap;
	}
	.simplis_dvm_report_content_graph_legend_element_swatch {
		height: 30px;
		width: 0px;
		line-height: 30px;
		padding-left: 15px;
		padding-right: 15px;
		margin-top: 3px;
		position: relative;
	}
	.simplis_dvm_report_content_graph_legend_element_requires_swatch {
		/* border-left-width: 30px; */
		/* border-left-style: solid; */
		left: 50px ;
		height: 0;
		line-height: 30px;
		padding-left: 10px;
		padding-right: 10px;
		margin-top: 0px;
		position: relative;
		left: 30px;
		top: -30px;
	}
	.simplis_dvm_report_content_graph_legend_element {
		border-left-width: 30px;
		border-left-style: solid;
		height: 30px;
		line-height: 30px;
		padding-left: 10px;
		padding-right: 10px;
		margin-top: 3px;
	}
	.simplis_dvm_report_content_graph_image {
		float: right;
		border: 1px solid #cccccc;
	}
	.simplis_dvm_report_external_file_div {
		width: 600px;
		overflow: auto;
	}
	.simplis_worstcase_report_content_summary_function_name {
		color: #000000;
		font-weight: normal;
		padding-left: 25px;
	}
	.simplis_status_sensitive_text_run,
	.simplis_status_sensitive_text_skip,
	.simplis_status_sensitive_text_pass,
	.simplis_status_sensitive_text_warn,
	.simplis_status_sensitive_text_fail,
	.simplis_status_sensitive_text_error,
	.simplis_status_sensitive_text_abort
	{
		font-weight: bold;
		color: blue;
	}
	.simplis_status_sensitive_text_pass {
		color: green;
	}
	.simplis_status_sensitive_text_warn,
	.simplis_status_sensitive_text_fail,
	.simplis_status_sensitive_text_error,
	.simplis_status_sensitive_text_abort {
		color: red;
	}
	a.simplis_status_sensitive_text_run,
	a.simplis_status_sensitive_text_skip,
	a.simplis_status_sensitive_text_pass,
	a.simplis_status_sensitive_text_warn,
	a.simplis_status_sensitive_text_fail,
	a.simplis_status_sensitive_text_error,
	a.simplis_status_sensitive_text_abort
	{
		border: 0px;
		text-decoration: none;
	}
	.simplis_dvm_report_test_label_portion {
		float: right;
		padding-right: 20px;
		font-style: italic;
		color: #787878;
	}
	.mclog_div {
		width: 775px;
		max-height: 775px;
		overflow: auto;
	}
	.mclog_table {
		font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
		font-size: 10px;
		border-collapse: collapse;
	}
	tr.mclog_table:nth-child(even) {
		background-color: #eeeeee;
	}
	.mclog_header {
		border: 1px solid #eeeeee;
		font-size: 13px;
		background-color: #f5f5f5;
		border: 1px solid #dddddd;
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 2px;
		padding-bottom: 2px;
		font-style: italic;
	}
	.mclog_cell {
		border: 1px solid #dddddd;
		padding-left: 3px;
		padding-right: 10px;
	}
	.mclog_minimum {
		font-weight: bold;
		color: blue;
	}
	.mclog_maximum {
		font-weight: bold;
		color: magenta;
	}
	.mclog_empty {
		border: 0px;
	}
	.measurement_error {
		color: #dddddd;
	}
}